* {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  width: 100vw;
  color: white;
  position: absolute;

  width: 100%;
  top: 0;
  margin: 0px auto;
  z-index: 99;
}

a {
  text-decoration: none;
  color: white;
}
a :hover {
  color: black;
  text-decoration: none;
}
section {
  padding: 1rem;

  font-size: 1.25rem;
  line-height: 1.5;
}

.blockquote {
  color: black;
  background-color: white;

  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.label {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.sub-title {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: black;
  overflow-x: visible;
}

.sub-title-ani {
  animation: scroll-text 10s linear infinite;

  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

@keyframes scroll-text {
  0% {
    -webkit-transform: translate(200%, 0);
    -moz-transform: translate(200%, 0);
    -ms-transform: translate(200%, 0);
    -o-transform: translate(200%, 0);
    transform: translate(200%, 0);
  }
  100% {
    -webkit-transform: translate(-300%, 0);
    -moz-transform: translate(-300%, 0);
    -ms-transform: translate(-300%, 0);
    -o-transform: translate(-300%, 0);
    transform: translate(-300%, 0);
  }
}
